option_settings:
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-northeast-2:903578657649:certificate/6754f66a-088a-4540-bad0-ee9c6d03bde0
  aws:elbv2:listener:default:
    ListenerEnabled: 'true'
  aws:ec2:vpc:
    ELBScheme: internet-facing
  aws:elb:loadbalancer:
    SecurityGroups: '`{"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}`'
    ManagedSecurityGroup: '`{"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}`'

Resources:
  AWSEBV2LoadBalancerListener443:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      LoadBalancerArn:
        Ref: AWSEBV2LoadBalancer
      Port: 443
      Protocol: HTTPS
      Certificates:
        - CertificateArn: arn:aws:acm:ap-northeast-2:903578657649:certificate/6754f66a-088a-4540-bad0-ee9c6d03bde0
      DefaultActions:
        - Type: forward
          TargetGroupArn:
            Ref: AWSEBV2LoadBalancerTargetGroup
  
  AWSEBSecurityGroupIngress443:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId:
        Fn::GetAtt: [AWSEBSecurityGroup, GroupId]
      IpProtocol: tcp
      FromPort: 443
      ToPort: 443
      CidrIp: 0.0.0.0/0